<html>
<head>
<style>
  
  .container { 
    height: 700px;
    position: relative;
    border: 3px solid #950740;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #eeeeee;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #bottom {
    position:absolute;
    bottom:0;
    right:0;
  }

</style>

<body>
  <div id='bottom'>
    <img src="{{url_for('static', filename='new_logo.png')}}" width="200" height="100" style="float:right">
  </div>

  <body style="background-color: #1a1a1d;"></body>
  <div class="container">
    <div class="center">
      <img src="{{url_for('static', filename=qr_pic)}}" width="400" height="400">
      <h1>Scan QR Code to get in line</h1>
      <h2>Or Use Code: {{ id }}</h2>
    </div>
  </div>

</body>
</head>
</html>
