<html>
<head>
<style>
  .container { 
    height: 200px;
    position: relative;
    top: 25%;
    bottom: 20%;
    margin-left: 25%;
    margin-right: 25%;
    border: 10px solid #950740;
    line-height: 20pt;
  }

  .center {
    margin: 0;
    position: absolute;
    color: #eeeeee;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

</style>

<body style="background-color: #1a1a1d;">
  
  <div class="container">
    <div class="center">
      <form action="/in_queue" method="POST" action="">
        <br>
          <label for="id">ID</label>
        </br>
        <input type="text" id="id" name="id" maxlength="6" size="6" autocomplete="off">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

</body>
</head>
</html>