<html>
<head>

<style>
  .container {
    height: 25%;
    position: relative;
    top: 25%;
    bottom: 20%;
    margin-left: 25%;
    margin-right: 25%;
    border: 10px solid #950740;
    line-height: 20pt;
  }

  .center {
    margin: 0;
    position: absolute;
    color: #eeeeee;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


</style>

<body style="background-color: #1a1a1d;">

  <div class="container">
    <div class="center">

      <form action="/in_queue/id/{{ id }}" method="POST" action="">
        <br>
          <label for="name">Full Name</label>
          <br>
        <input type="text" id="name" name="name" autocomplete="off">
        <input type="submit" value="Submit">
      </form>

    </div>
  </div>

</body>
</head>
</html>